@media only screen and (min-width: 1921px) {
	#header-right #top-search-form input{
	    width: 700px;
	}
    #site-container{
        min-height: 1080px;
    }
    #video-player-wrapper .video-player{
	    height: 706px;
	}
	#video-player-wrapper.full-width .video-player {
	    height: 806px;
	}
	#video-play-sidebar{
		top: 90px;
	    position: absolute;
	    right: 60px;
	}
	#video-player-wrapper.full-width{
		width: 100%;
	}
	#video-play-sidebar.full-width{
		top: 926px;
	}
	.channel-list .channel-list-content{
		grid-template-columns: repeat(6, 1fr);
	}
}
@media only screen and (max-width: 1920px) and (min-width: 1690px) {
	#header-right #top-search-form input{
	    width: 700px;
	}
    #site-container{
        min-height: 1080px;
    }
    #video-player-wrapper .video-player{
	    height: 706px;
	}
	#video-player-wrapper.full-width .video-player {
	    height: 806px;
	}
	#video-play-sidebar{
		top: 90px;
	    position: absolute;
	    right: 60px;
	}
	#video-player-wrapper.full-width{
		width: 100%;
	}
	#video-play-sidebar.full-width{
		top: 926px;
	}
	.channel-list .channel-list-content{
		grid-template-columns: repeat(6, 1fr);
	}
}
@media only screen and (max-width: 1690px) {
	
	#video-player-wrapper .video-player{
	    height: 611px;
	}
	#video-player-wrapper.full-width .video-player{
	    height: 711px;
	}
	#video-player-wrapper.full-width{
		width: 100%;
	}
	#video-play-sidebar.full-width{
		top: 831px;
	}
}
@media only screen and (max-width: 1440px) {
	.top-n-video .top-video-item .top-video-item-info{
	    width: 300px;
	    height: 70px;
	}
	.top-n-video .top-video-item .top-video-item-position .v-top {
	    font-size: 28px;
	}
	.top-n-video .top-video-item .top-video-item-position .v-top-title {
	    font-size: 16px;
	    margin-bottom: 0px;
	}
	.top-n-video .top-video-item .top-video-item-title .top-video-item-name-2 {
	    margin-top: 0px;
	}
	#video-player-wrapper .video-player{
	    height: 526px;
	}
	#video-player-wrapper.full-width .video-player{
	    height: 626px;
	}
	#video-player-wrapper.full-width{
		width: 100%;
	}
	#video-play-sidebar.full-width{
		top: 746px;
	}
}
@media only screen and (max-width: 1366px) {
	#video-player-wrapper .video-player{
	    height: 499px;
	}
	#video-player-wrapper.full-width .video-player{
	    height: 599px;
	}
	
	#video-player-wrapper.full-width{
		width: 100%;
	}
	#video-play-sidebar.full-width{
		top: 719px;
	}
}
@media only screen and (max-width: 1280px) {
	#main #site-container{
	    padding-left: 0;
	}
	#popup-login {
	    grid-template-columns: 3fr 1.5fr;
	}
	#header-right #top-search-form input {
	    width: 400px;
	}
/*	body.logged #main #menu-left{
		transform: translate3d(-230px, 0px, 0px);
	}
	body.logged.narrow #main #menu-left{
		transform: unset;
	}
	body.logged #main #site-container{
	    margin-left: auto;
	    width: calc(100% - 30px - 5%);
	    max-width: calc(100% - 30px - 5%);
	    padding-left: 0;
	}
	body.logged #footer #footer-bottom,
	body.logged #footer #footer-info{
	    padding-left: 15px!important;
	}*/
	#video-player-wrapper .video-player{
	    height: 467px;
	}
	#video-player-wrapper.full-width .video-player{
	    height: 567px;
	}
	#video-player-wrapper.full-width{
		width: 100%;
	}
	#video-play-sidebar.full-width{
		top: 687px;
	}
}
@media only screen and (max-width: 1155px) {
	#upload-video a span,
	#menu-category a span{
		display: none;
	}
	#upload-video .btn {
	    padding: 0;
	    background: transparent;
	    border-color: transparent;
	}
}
@media only screen and (max-width: 1024px) {
	#header-right #top-search-form input {
	    width: 270px;
	}
	.top-n-video .top-video-item .top-video-item-info {
	    width: 250px;
	    height: 70px;
	}
	.top-n-video .top-video-item .top-video-item-title .top-video-item-name-1 a {
	    font-size: 20px;
	}
	.video-list .video-list-content {
	    grid-template-columns: repeat(4, 1fr);
	}
	#popup-login {
	    max-height: 500px;
	    grid-template-columns: 1fr;
	    overflow-y: auto;
	}
	#popup-sign-right{
		display: none;
	}
	.popup-close {
	    background: #fb441b;
	    text-decoration: none;
	    border-color: #fb441b;
	}
	#menu-category a span{
		display: none;
	}
	#menu-category .dialog-show-category__item span{
		display: inline-block;
	}
	#display-list #pagination,
	.viewmore,
	.display-list .display-list-content {
	    width: 95%;
	}
	#video-player-wrapper .video-player{
	    height: 371px;
	}
	#video-player-wrapper.full-width .video-player{
	    height: 471px;
	}
	
	#video-player-wrapper.full-width{
		width: 100%;
	}
	#video-play-sidebar.full-width{
		top: 591px;
	}
	
}
@media only screen and (max-width: 980px){
	#popup-sign-right{
		display: none;
	}
	#popup-login{
		grid-template-columns: 1fr;
	}
	#popup-login {
	    max-height: 500px;
		min-height: unset;
	}
	.display-list .display-item .display-item-info .display-description {
	    display: -webkit-box;
	    max-height: 4.2rem;
	    -webkit-box-orient: vertical;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: normal;
	    -webkit-line-clamp: 3;
	}
	#video-player-wrapper .video-player {
	    height: calc( (100vw - 68px) * 9 / 16 );
	}
	#video-play-sidebar{
		top: 0;
		position: relative;
	}
	#video-play-comment,
	#video-play-detail,
	#video-player-wrapper,
	#video-play-wrapper,
	#video-play-sidebar {
	    width: 100%;
	}
	#video-play-sidebar{
		margin-top: 30px;
    	padding-left: 0;
    	right: unset;
	}
	#video-play-sidebar .video-item > a {
	    width: 30%;
	}
	#video-play-sidebar .video-item > .video-item-name, 
	#video-play-sidebar .video-item > .video-item-author, 
	#video-play-sidebar .video-item > .video-item-view-date {
	    width: 70%;
	}
	.channel-list .channel-list-content {
	    grid-template-columns: repeat(4, 1fr);
	}
	.expand-player{
		display: none;
	}
	.channel-top .my-channel-tools {
	    position: absolute;
	    top: 30px;
	    right: 30px;
	}
	#main #menu-left, #main #menu-left {
	    overflow-y: auto;
	}
}
@media only screen and (max-width: 836px) {
	#header-right #top-search-form input {
	    width: 240px;
	}
}
@media only screen and (max-width: 812px) {
	#header-right #top-search-form input {
	    width: 200px;
	}
}
@media only screen and (max-width: 768px) {
	#header-right #top-search-form input {
	    width: 200px;
	}
	#upload-video a span,
	#menu-category a span,
	#user-place a span{
		display: none;
	}
	#menu-category a .dialog-show-category__item span{
		display: inline-block;
	}
	#home-hot .home-hot-content {
	    grid-template-columns: 1fr;
	}
	.top-n-video .top-video-item .top-video-item-info,
	.top-video-item .top-video-item-info {
	    grid-template-columns: 1fr 6fr;
	    width: calc(100% - 40px);
	    height: 90px;
	}
	.top-n-video .top-video-item .top-video-item-title .top-video-item-name-1 a {
	    font-size: 24px;
	}
	.top-n-video .top-video-item .top-video-item-title .top-video-item-name-2 {
	    margin-top: 10px;
	}
	#upload-video .btn{
		padding: 0;
	    background: transparent;
	    border-color: transparent;
	}
	
	#header-right #menu-category, 
	#header-right #user-place, 
	#header-right #upload-video, 
	#header-right #user-notifcation {
	    margin-left: 20px;
	}
	.display-list .display-item .display-item-info .display-description {
	    display: -webkit-box;
	    max-height: 3.2rem;
	    -webkit-box-orient: vertical;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: normal;
	    -webkit-line-clamp: 2;
	}
	.channel-list .channel-list-content{
		grid-template-columns: repeat(3, 1fr);
	}
	
	#video-play-wrapper .video-info {
	    flex-direction: column;
	}
	#video-play-wrapper .video-info .video-views-count {
	    margin-bottom: 15px;
	}
	#video-play-wrapper .video-info .video-info-right .video-control-item.video-like a {
	    margin-left: 0;
	    margin-right: 15px;
	}
	#video-play-wrapper .video-info .video-info-right .video-control-item {
	    margin-left: 0;
	    margin-right: 30px;
	}
	#home-hot .top-n-video {
	    grid-template-columns: 1fr 1fr; 
	    grid-template-rows: unset; 
	}
	.top-n-video .top-video-item .top-video-item-title .top-video-item-name-1 a {
	    font-size: 18px;
	}
	.top-n-video .top-video-item .top-video-item-info{
	    grid-template-columns: 2fr 6fr;
	    width: calc(100% - 40px);
	    height: 70px;
	}
	.top-n-video .top-video-item .top-video-item-title .top-video-item-name-2 {
	    margin-top: 0px;
	}
	body.upload-prepare .dropzone{
		margin-right: 0;
	}
	.subheader h2{
		
	}
	.subheader .subscribe-button {
	    float: left;
	}
	#footer #footer-info{
	    display: none;
	}
	.subheader h2 .subheader-title{
		position: relative;
    	top: -8px;
	}
	.subheader h2 .subheader-desc{
	    bottom: -9px;
	    display: block;
	    left: 40px;
	    position: absolute;
	}
	.subheader {
	    display: flex;
	    justify-content: space-between;
	}
}	
@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    height: 110px;
    line-height: 110px;
  }

  .notfound .notfound-404 h1 {
    font-size: 170px;
  }

  .notfound h2 {
    font-size: 24px;
  }

  .notfound .notfound-search {
    margin: 10px 0px 20px;
  }
}
@media only screen and (max-width: 726px) {
	#header-right #top-search-form input {
	    width: 160px;
	}
}	
@media only screen and (max-width: 686px) {
	#header-right #top-search-form input {
	    visibility: hidden;
	    top: -300px;
	}
	#header-right #top-search-form button[type=submit] {
	    width: 40px;
	    background-color: transparent;
	}
	#header-right #top-search-form button[type=submit] i {
	    color: #333;
	}
	#header-right #top-search-form {
	    position: relative;
	}
	#header-right #top-search-form input {
	    position: fixed;
	    right: 0;
	    width: 100vw;
		-webkit-transition: top .2s ease-in-out; /* Safari */
		transition: top .2s ease-in-out;
		border: 1px solid #fff;
    	border-bottom: 1px solid #9b9b9b;
	}

	#header-right #top-search-form button[type='submit']{
		display: none;
	}
	#mobile-search-btn{
		display: block;
		-webkit-appearance: button;
		border: none !important;
		background: none !important;
	}
	#header-right #top-search-form input.show-search{
		top: 70px;
        visibility:visible;
        border-top: 1px solid #f1f1f1;
        border-radius: 0;
	}
	#header-right {
	    display: flex;
	    justify-content: flex-end;
	}
	#header-right #search {
	    order: 1;
	}
	#header-right #user-place{
		order: 5;
	}
	#header-right #user-notifcation{
		order: 4;
	}
	#header-right #menu-category{
		order: 2;
	}
	#header-right #upload-video{
		order: 3;
	}
	#header-right #menu-category, 
	#header-right #user-place, 
	#header-right #upload-video, 
	#header-right #user-notifcation {
	    margin-left: 20px;
	}
}
@media only screen and (max-width: 640px) {
	#header-right #top-search-form input {
	    width: 150px;
	}
	.video-list .video-list-content {
	    grid-template-columns: repeat(3, 1fr);
	}
	#popup-sign-left {
	    padding: 35px 50px;
	}
	#header-right #top-search-form input {
	    visibility: hidden;
	    top: -300px;
	}
	#header-right #top-search-form button[type=submit] {
	    width: 40px;
	    background-color: transparent;
	}
	#header-right #top-search-form button[type=submit] i {
	    color: #333;
	}
	#header-right #top-search-form {
	    position: relative;
	}
	#header-right #top-search-form input {
	    position: fixed;
	    right: 0;
	    width: 100vw;
		-webkit-transition: top .2s ease-in-out; /* Safari */
		transition: top .2s ease-in-out;
		border: 1px solid #fff;
    	border-bottom: 1px solid #9b9b9b;
	}

	#header-right #top-search-form button[type='submit']{
		display: none;
	}
	#mobile-search-btn{
		display: block;
		-webkit-appearance: button;
		border: none !important;
		background: none !important;
	}
	#header-right #top-search-form input.show-search{
		top: 70px;
        visibility:visible;
        border-top: 1px solid #f1f1f1;
        border-radius: 0;
	}
	#header-right {
	    display: flex;
	    justify-content: flex-end;
	}
	#header-right #search {
	    order: 1;
	}
	#header-right #user-place{
		order: 5;
	}
	#header-right #user-notifcation{
		order: 4;
	}
	#header-right #menu-category{
		order: 2;
	}
	#header-right #upload-video{
		order: 3;
	}
	#header-right #menu-category, 
	#header-right #user-place, 
	#header-right #upload-video, 
	#header-right #user-notifcation {
	    margin-left: 20px;
	}
	.channel-top .my-channel-tools {
	    position: absolute;
	    top: 10px;
	    right: 10px;
	    bottom: unset;
	}
	.channel-top .my-channel-info h1{
		font-size: 32px;
		line-height: 32px;
	}
	.channel-top .my-channel-info {
	    bottom: 10px;
	}
	.channel-top .my-channel-tools #my-channel-tools-edit > span {
	    font-size: 13px;
	    padding: 6px 24px;
	}
	.subheader h2 .subheader-title {
	    font-size: 14px;
	}
	.subheader h2 .subheader-desc{
		font-size: 12px;
	}
}
@media only screen and (max-width: 480px) {
	.video-list .video-list-content {
	    grid-template-columns: repeat(2, 1fr);
	}
	#footer #footer-bottom .footer-social,
	#footer #footer-bottom .footer-copyright {
	    margin: 0 auto;
	}


	#popup-sign-left {
	    padding: 35px 25px;
	}
	#upload-video{
		display: none;
	}
	#footer #footer-bottom .footer-copyright p {
	    text-align: center;
	}
	.channel-top .my-channel-avatar {
	    left: 30px;
	    bottom: -35px;
	    width: 80px;
	    height: 80px;
	}
	.channel-top .my-channel-info h1 {
	    font-size: 24px;
	    line-height: 24px;
	    display: block;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    width: 100%;
	    padding: 0 5px;
	}
	.channel-top .my-channel-avatar img {
	    border-radius: 50%;
	}
	.channel-top .my-channel-info {
	    left: unset;
	    position: relative;
	    width: 100%;
	    clear: both;
	    bottom: unset;
	    text-align: center;
	}
	.channel-top .my-channel-avatar {
	    left: unset;
	    position: relative;
	    margin: 0 auto;
	    bottom: unset;
	    margin-top: 18px;
	}
	body.channel .video-list,
	body.channel #recently-viewed.video-list {
	    margin-top: 20px;
	}
	.video-item {
	    margin-bottom: 10px;
	}
	.display-viewmore, .video-viewmore, .channel-viewmore {
	    margin: 20px auto;
	}
	.channel-top .my-channel-tools {
	    position: relative;
	    top: unset;
	    right: unset;
	    bottom: unset;
	    margin: 0 auto;
	}
	#video-play-wrapper .video-title {
	    font-size: 18px;
	    line-height: 24px;
	}
	#video-play-wrapper .video-info .video-views-count, .btn-play-tool {
	    font-size: 13px;
	}
	#video-play-wrapper .video-info .video-info-right .video-control-item.video-download{
		display: none;
	}
	.btn-play-tool i {
	    font-size: 18px;
	}
	#video-play-wrapper .video-info .video-info-right .video-control-item {
	    margin-left: 0;
	    margin-right: 20px;
	}
	#video-play-wrapper .video-author .video-author-info .video-follow-button {
	    padding: 6px 10px;
	}
	#video-play-sidebar .video-item > a,
	#video-play-sidebar .video-item > .video-item-name, 
	#video-play-sidebar .video-item > .video-item-author, 
	#video-play-sidebar .video-item > .video-item-view-date {
	    width: 50%;
	}
	#video-play-sidebar .video-item > a {
	    padding-right: 10px;
	}
	.channel-list .channel-list-content {
	    grid-template-columns: repeat(2, 1fr);
	}
	.top-n-video .top-video-item .top-video-item-info .top-video-item-title{
		display: none;
	}
	.top-n-video .top-video-item .top-video-item-info {
	    grid-template-columns: 1fr;
    	width: 70px;
	}
	.notfound .notfound-404 {
	    left: 40px;
	}
	.notfound .notfound-404 h1 {
	    font-size: 120px;
	}
	.notfound h2 {
	    font-size: 18px;
	}
	.subscribe-button-button{
		    width: 19px;
    height: 19px;
	}
	.subscribe-button-button::before {
	    top: 9px;
	    left: 5px;
	    width: 10px;
	    height: 2px;
	}
	.subscribe-button-button::after {
	    top: 9px;
	    left: 5px;
	    width: 10px;
	    height: 2px;
	}
}
@media only screen and (max-width: 414px) {
	.display-list .display-item {
	    grid-template-columns: 1fr;
	}
	#display-list #pagination, 
	.viewmore, 
	.display-list .display-list-content {
	    width: 100%;
	}
	.display-tools{
		right: 0;
	}
	.display-list .display-item .display-item-info .display-name {
	    width: 95%;
	}
	.display-list .display-item {
	    margin-bottom: 30px;
	}
	.popup-inner{
		width: 90%;
	}
	#video-play-wrapper .video-info {
	    padding-bottom: 10px;
	}
	.video-player.mini-player{
	    width: 404px!important;
	    height: 227px!important;
	}
	.channel-list .channel-item .channel-item-info {
	    flex-direction: column;
	}
	.channel-list .channel-item .channel-item-info .channel-item-name .channel-follow-count,
	.channel-list .channel-item .channel-item-info .channel-item-name .channel-name {
	    text-align: center;
	}
}
@media only screen and (max-width: 375px) {

	.top-video-item .top-video-item-info {
	    grid-template-columns: 2fr 6fr;
	}
	.top-n-video .top-video-item .top-video-item-info{
		display: none;
	}
	.video-player.mini-player{
	    width: 375px!important;
	    height: 211px!important;
	}
	.text{
		font-size: 12px;
	}
}
@media only screen and (max-width: 360px) {
	#video-play-wrapper .video-info .video-info-right .video-control-item {
	    margin-bottom: 10px;
	}
	.video-player.mini-player{
	    width: 360px!important;
	    height: 202.5px!important;
	}
	.subheader .subscribe-button .subscribe-button-parent .button-text{
		display: none;
	}
}