@media only screen and (min-width: 1920px) {
	#header-right #top-search-form input{
	    width: 700px;
	}
    #site-container{
        min-height: 1080px;
    }
}
@media only screen and (max-width: 1440px) {
	.top-n-video .top-video-item .top-video-item-info{
	    width: 300px;
	    height: 70px;
	}
	.top-n-video .top-video-item .top-video-item-position .v-top {
	    font-size: 28px;
	}
	.top-n-video .top-video-item .top-video-item-position .v-top-title {
	    font-size: 16px;
	    margin-bottom: 0px;
	}
	.top-n-video .top-video-item .top-video-item-title .top-video-item-name-2 {
	    margin-top: 0px;
	}
}
@media only screen and (max-width: 1366px) {

}
@media only screen and (max-width: 1280px) {
	#main #site-container{
	    padding-left: 0;
	}
	#popup-login {
	    grid-template-columns: 3fr 1.5fr;
	}
}
@media only screen and (max-width: 1024px) {
	#header-right #top-search-form input {
	    width: 300px;
	}
	.top-n-video .top-video-item .top-video-item-info {
	    width: 250px;
	    height: 70px;
	}
	.top-n-video .top-video-item .top-video-item-title .top-video-item-name-1 a {
	    font-size: 20px;
	}
	.video-list .video-list-content {
	    grid-template-columns: repeat(4, 1fr);
	}
	#popup-login {
	    max-height: 500px;
	    grid-template-columns: 1fr;
	    overflow-y: auto;
	}
	#popup-sign-right{
		display: none;
	}
	.popup-close {
	    background: #fb441b;
	    text-decoration: none;
	    border-color: #fb441b;
	}
}
@media only screen and (max-width: 980px){
	#popup-sign-right{
		display: none;
	}
	#popup-login{
		grid-template-columns: 1fr;
	}
	#popup-login {
	    max-height: 500px;
		min-height: unset;
	}

}
@media only screen and (max-width: 768px) {
	#header-right #top-search-form input {
	    width: 200px;
	}
	#upload-video a span,
	#menu-category a span,
	#user-place a span{
		display: none;
	}
	#home-hot {
	    grid-template-columns: 1fr;
	}
	.top-n-video .top-video-item .top-video-item-info,
	.top-video-item .top-video-item-info {
	    grid-template-columns: 1fr 6fr;
	    width: calc(100% - 40px);
	    height: 90px;
	}
	.top-n-video .top-video-item .top-video-item-title .top-video-item-name-1 a {
	    font-size: 24px;
	}
	.top-n-video .top-video-item .top-video-item-title .top-video-item-name-2 {
	    margin-top: 10px;
	}
}
@media only screen and (max-width: 640px) {
	#header-right #top-search-form input {
	    width: 150px;
	}
	.video-list .video-list-content {
	    grid-template-columns: repeat(3, 1fr);
	}
	#popup-sign-left {
	    padding: 35px 50px;
	}

}
@media only screen and (max-width: 480px) {
	.video-list .video-list-content {
	    grid-template-columns: repeat(2, 1fr);
	}
	#footer #footer-bottom .footer-social,
	#footer #footer-bottom .footer-copyright {
	    margin: 0 auto;
	}
	#header-right #top-search-form input {
	    visibility: hidden;
	    top: -300px;
	}
	#popup-sign-left {
	    padding: 35px 25px;
	}
	#header-right #top-search-form button[type=submit] {
	    width: 40px;
	    background-color: transparent;
	}
	#header-right #top-search-form button[type=submit] i {
	    color: #333;
	}
	#header-right {
	    display: flex;
	    justify-content: flex-end;
	}
	#header-right #search {
	    order: 1;
	}
	#header-right #user-place{
		order: 3;
	}
	#header-right #menu-category{
		order: 2;
	}
	#header-right #top-search-form {
	    position: relative;
	}
	#header-right #top-search-form input {
	    position: absolute;
	    right: -128px;
	    width: 450px;
		-webkit-transition: top .5s ease-in-out; /* Safari */
		transition: top .5s ease-in-out;
	}
	#header-right #top-search-form button[type='submit']{
		display: none;
	}
	#mobile-search-btn{
		display: block;
	}
	#header-right #top-search-form input.show-search{
		top: 85px;
        visibility:visible;
	}
	#upload-video{
		display: none;
	}
}
@media only screen and (max-width: 411px) {

}
@media only screen and (max-width: 375px) {
	.top-n-video .top-video-item .top-video-item-info, .top-video-item .top-video-item-info {
	    grid-template-columns: 2fr 6fr;
	}
	#header-right #top-search-form input {
	    width: 345px;
	    right: -128px;
	}
}
@media only screen and (max-width: 360px) {
	#header-right #top-search-form input {
	    width: 330px;
	}
}